<ol class="breadcrumb">
    <li>
        <a href="" ng-click="smartClick('/')">
            {{ config.appName }}
        </a>
    </li>
    <li ng-repeat="(key, dir) in getBreadcrumb() track by key" ng-class="{'active':$last}" class="animated fast fadeIn">
        <!-- TODO: pendiente crear función que le devuelva a smartClick el path. Debe hacer un join de currentPath
        con el index key -->
        <a href="" ng-show="!$last" ng-click="smartClick(getPathByIndex(key))">
            {{dir | strLimit : 8}}
        </a>
        <span ng-show="$last">
            {{dir | strLimit : 12}}
        </span>
    </li>
</ol>